# Problema 1:
Utilice expresiones regulares para validar las siguintes situaciones:

### 1. Expresión Regular para Correos Electrónicos 
Implemente una regex para validar un correo electrónico en general, a continuación se muestran algunos ejemplos.

- Guate.360-porelmundo@miguate.com 
- Miercoles3@hotmail.com 
- Progra3.galileo@galileo.edu

In [ ]:
import re

In [ ]:
EMAIL_REGEX = r"([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})"

email_examples = [ "Guate.360-porelmundo@miguate.com", 
"Miercoles3@hotmail.com", 
"Progra3.galileo@galileo.edu", "novalid.email.com.gt"]

def isAnEmail(email):
    return re.match(EMAIL_REGEX, email) is not None

In [ ]:
for email in email_examples:
    print(f'{email} is an email: {isAnEmail(email)}')

### 2. Expresión regular para Network URL

Implemente una regex para validar la dirección url de una página web con los tipos de domino (.com, .org, .edu). Note que la url incluye el protocolo (http o https) y los símbolos (//www.), a continuacióon se muestran algunos ejemplos: 

- https://www.guate360-porelmundo.com 
- http://www.a2.net
- https://www.galileo.edu 
- http://www.8.org (No valida)

In [ ]:
URL_REGEX = r"(https?)://(www\.)?(([a-zA-Z])([a-zA-Z0-9-])*)(.[a-zA-Z]{2,})+"

url_examples = [
"https://www.guate360-porelmundo.com",
"http://www.a2.net" ,
"https://www.galileo.edu.gt",
"http://www.8.org "
]

def isAnURL(url):
    return re.match(URL_REGEX, url) is not None

In [ ]:
for url in url_examples:
    print(f'{url} is an URL: {isAnURL(url)}')

### 3. Expresión Regular para una MAC Address

Implemente una regex para validar una MAC Address, notar que las mac addres están divididas en 6 bloques de caracteres hexadecimales, es decir que los símbolos solo pueden variar del 0 al 9 y las letras de la A a la F. a continuación se muestran algunos ejemplos:

- 5A 6F AF 8C 9B 1D
- 6D 6C 4D 3A EB 3F
- 3A 7C FA C8 6D 4J (no valida por que el ultimo bloque contiene una J)

In [ ]:
MAC_ADDRESS_REGEX = r"([0-9A-Fa-f]{2}\ ){5}([[0-9A-Fa-f]{2})"

mac_address_examples = ["5A 6F AF 8C 9B 1D", "6D 6C 4D 3A EB 3F", "3A 7C FA C8 6D 4J"]

def isAMacAddress(mac_address) :
    return re.match(MAC_ADDRESS_REGEX, mac_address) is not None

In [ ]:
for mac_address in mac_address_examples:
    print(f'{mac_address} is an Mac Address: {isAMacAddress(mac_address)}')

### 4. Expresión regular para una dirección IPv4

Implemente una regex para validar una dirección IPv4, notar que las direcciones IPv4 están divididas en 4 bloques de valores los cuales solo pueden ir desde 0 hasta 255, una ip donde algunos de sus bloques sea mayor a 255 no es valida, además tome en cuenta que cada bloque estáa separada por un punto. A continuación se muestran algunos ejemplos:

- 192.16.8.1
- 234.56.78.90
- 1.2.3.4
- 192.168.45.345 (no valida por que el ultimo bloque es mayor a 255)

In [ ]:
IP_REGEX = r"((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}"

ip_examples = ["192.16.8.1", "234.56.78.90", "1.2.3.4","192.168.45.345"]

def isAnIPv4(ip) :
    return re.match(IP_REGEX, ip) is not None

In [ ]:
for ip in ip_examples:
    print(f'{ip} is an IP Address: {isAnIPv4(ip)}')

### 5. Expresión regular para fecha
Implemente una regex para validar una fecha con la secuencia día-mes-año donde el día, mes y año puedan estar separados ya sea por el caracter / o el caracter - o el caracter ., notar que las fechas son validas si los si los días están definidos desde el 1 al 31, el mes del 1 al 12 y el año de 2000 al 2019. También debe tomar en cuenta que los días y meses pueden estar escritos ya sea con uno o dos caracteres por ejemplo: Enero puede escribirse como 1 o como 01. Los añs también pueden expresarse ya sea con dos o con cuatro caracteres por ejemplo: 19 o 2019 son validos. A continuación se muestran algunos ejemplos:

- 20/1/2019
- 12.03.2005
- 31-11-08
- 1-1-2012
- 12-12-22 (no valida, por que el an ̃o supera al 2019).

In [ ]:
DATE_REGEX = r"^(0?[1-9]|[1-2][0-9]|3[0-1])([/.-])(0?[1-9]|1[0-2])([/.-])((20)?[0-1][0-9]\b)"

date_examples = ["20/1/2019", 
"12.03.2005",
"31-11-08",
"1-1-2012",
"12-12-22",
"30-12-2019",
"0-1-1"]


def isADate(date) :
    return re.match(DATE_REGEX, date) is not None

In [ ]:
for date in date_examples:
    print(f'{date} is an Date: {isADate(date)}')

# Problema 2

En la carpeta encontrará adjuntos 21 documentos que tiene 100 fechas en la secuencia dias-mes-año pero con distinto separador y distinto formato de mes, en algunos casos aparece un numero y en otros el nombre del mes en ingles, por ejemplo: Enero pueder aparecer como 1 o como Jan. Utilice Python y expresiones regulares para encontrar el día, mes y año promedio total del los 21 archivos, los resultados deben ser un double.

In [ ]:
import os 
import re
import pandas as pd

DATE_REGEX = r"^(0?[1-9]|[1-2][0-9]|3[0-1])([/.-])(0?[1-9]|1[0-2]|[a-zA-Z]{3})([/.-])(20[0-9][0-9]\b)"

MONTHS = {
    'Jan' : 1, 'Feb' : 2, 'Mar' : 3, 'Apr' :4, 'May' : 5, 'Jun' : 6, 
    'Jul' : 7, 'Aug' : 8, "Sep" : 9, 'Oct' :10, 'Nov' : 11, 'Dec' :12
     
}

def split_date(date):
    date_match = re.match(DATE_REGEX, date)

    if (date_match is None) : 
        print(f'{date} is not date')
        return [0, 0, 0]
    
    day = int(date_match.groups()[0])
    month = date_match.groups()[2]
    year = int(date_match.groups()[4])

    month_number_match = re.match(r"0?[1-9]|1[0-2]", month)

    if (month_number_match is not None) :
        month_number = int(month)
    else : 
        month_number = MONTHS[month]

    return [day,month_number,year]


file_names = os.listdir('./Datos')
file_names.sort()
dates = []

for file_name in file_names:
    file = open(f'./Datos/{file_name}', mode='r' , encoding='utf-8-sig')

    for line in file.readlines():
        dates.append(split_date(f'{line.strip()}'))

dataset =  pd.DataFrame(dates, columns=['day', 'month', 'year'])

print("Promedio del día:", dataset['day'].mean())
print("Promedio del mes:", dataset['month'].mean())
print("Promedio del año:", dataset['year'].mean())

# Problema 3 

Descargue el Dataset (de click aqu ́ı para descargar) el cual contiene aproximadamente 800,000 tweets de diversos temas.

Usando CoLab y expresiones regulares. Determine los 3 usuarios más populares dentro del dataset. Luego arme un corpus el cual contenga los siguientes elementos por cada usuario seleccio- nado:

- Content: Tweet.
- Metadata: ID, Timestamp, Length (este valor hay que calcularlo).


Posterior a tener sus 3 corpus creados, responda: ¿Razón por la que citan a ese usuario? para esto es necesario que extraiga el contexto de cada tweet y verifique cuales son las palabras que más rodean al nombre de usuario. Para extraer un contexto valido y debido a la naturaleza del tipo de datos que est ́an disponibles en nuestro dataset le recomendamos seguir los siguientes pasos:

1. Remover stopwords.
2. Realizar stemming y lemmatizaci ́on.
3. Mostrar un wordcloud con el top 10 para cada usuario.

In [78]:
import pandas as pd 
import numpy as np
import re

USER_REGULAR_EXPRESSION = r"(@)(\w){1,15}"

def get_mentions(tweet) :
    user_match = re.finditer(USER_REGULAR_EXPRESSION, tweet)
    return [x.group() for x in  user_match]

dataset = pd.read_csv('tw_source.csv', header=None)
dataset.columns = ['_', 'id', 'date', 'type', 'user', 'tweet']

In [80]:
dataset['length'] = 0
dataset['mention'] = None

temp_df = []
index = 0

for row in dataset.itertuples(index=False):
    mentions = get_mentions(row.tweet)
    row_ = list(row)
    row_[len(row_) - 2] = len(row.tweet)
    if len(mentions) == 0 :
        temp_df.append(row_)
    else:
        for mention in mentions:
            row_[len(row_) - 1] = mention
            temp_df.append(row_)     

    index += 1 


tweet_dataset = pd.DataFrame(temp_df, columns=dataset.columns)
tweet_dataset

,_,id,date,type,user,tweet,length,mention
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",115,@switchfoot
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,111,None
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,89,@Kenichan
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,47,None
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",111,@nationwideclass
...,...,...,...,...,...,...,...,...
1648110,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,57,None
1648111,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,65,None
1648112,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,62,@SpeakingUpH4H
1648113,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,62,@SpeakingUpH4H
1648114,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,62,@SpeakingUpH4H

### Determine los 3 usuarios más populares

In [81]:
mentions = tweet_dataset['mention'].value_counts()[:3]
mentions

mention
@mileycyrus    4472
@tommcfly      3821
@ddlovato      3451
Name: count, dtype: int64

In [94]:
miley_cyrus_mentions = tweet_dataset[tweet_dataset['mention'] == '@mileycyrus']
tommcfly_mentions = tweet_dataset[tweet_dataset['mention'] == '@tommcfly']
ddlovato_mentions = tweet_dataset[tweet_dataset['mention'] == '@ddlovato']

### Preprocessing

In [103]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import re

STOP_WORDS = set(stopwords.words('english'))
STEMMER = PorterStemmer()
LEMMATIZER =  WordNetLemmatizer()

def clean_tweet(tweet, user):
    PUNCTUATION_REGEX = r"[^\w\s]"
    clean_tweet = tweet.replace(user, '')
    return re.sub(PUNCTUATION_REGEX, '', clean_tweet.strip())

def get_word_tokens(tweet):
    return word_tokenize(tweet)

def remove_stop_words(word_tokens) :
     
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = []
    
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    
    return filtered_sentence

def stem (words) :
    stem_words = []
    for word in words:
        stem_words.append(STEMMER.stem(word))
    return stem_words

def lemmatize(words):
    lemmatize_words = []
    
    for word in words:
        lemmatize_words.append(LEMMATIZER.lemmatize(word))
    return lemmatize_words


def preprocess_tweet(tweet, user):
    tweet_clean = clean_tweet(tweet, user)
    word_tokens = get_word_tokens(tweet_clean)
    words_without_stopwords = remove_stop_words(word_tokens)
    return lemmatize(words_without_stopwords)

### Top 10 de palabras para Miley Cyrus

In [104]:
words_from_tweet = []
for row in miley_cyrus_mentions.itertuples(index=False):
    words_from_tweet.extend(list(preprocess_tweet(row.tweet, row.mention)))

words_dataset = pd.DataFrame(words_from_tweet)
words_dataset.value_counts()[:10]

I        1218
love      709
u         632
miley     426
im        339
Miley     335
cant      287
dont      260
like      249
good      245
Name: count, dtype: int64

### Top 10 de palabras para Tom Mcfly

In [105]:
words_from_tweet = []
for row in tommcfly_mentions.itertuples(index=False):
    words_from_tweet.extend(list(preprocess_tweet(row.tweet, row.mention)))

words_dataset = pd.DataFrame(words_from_tweet)
words_dataset.value_counts()[:10]

I         892
u         417
love      354
please    342
tom       320
Tom       318
say       286
guy       273
x         250
im        248
Name: count, dtype: int64

### Top 10 de palabras para Demi Lovato

In [115]:
words_from_tweet = []
for row in ddlovato_mentions.itertuples(index=False):
    words_from_tweet.extend(list(preprocess_tweet(row.tweet, row.mention)))

words_dataset = pd.DataFrame(words_from_tweet)
print(words_dataset.shape)
words_dataset.value_counts()[:10]

(31422, 1)

I       1215
love     494
u        468
demi     313
im       291
cant     267
come     255
see      237
like     221
hope     220
Name: count, dtype: int64